<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 menuDocente">
	<ul class="list-inline col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<li class="col-xs-12 col-sm-4 col-md-4 col-lg-4 opcionesMenu" ng-class="{'menuActivo':menuActivo('admin.alumno')}" ng-click="Link('Admin/Alumno')">Alumnos</li>
		<li class="col-xs-12 col-sm-4 col-md-4 col-lg-4 opcionesMenu" ng-class="{'menuActivo':menuActivo('admin.maestro')}" ng-click="Link('Admin/Maestro')">Maestros</li>
		<li class="col-xs-12 col-sm-4 col-md-4 col-lg-4 opcionesMenu" ng-class="{'menuActivo':menuActivo('admin.admins')}" ng-click="Link('Admin/Admins')">Administradores</li>
		<li class="col-xs-12 col-sm-4 col-md-4 col-lg-4 opcionesMenu" ng-class="{'menuActivo':menuActivo('admin.materia')}" ng-click="Link('Admin/Materia')">Materia</li>
		<li class="col-xs-12 col-sm-4 col-md-4 col-lg-4 opcionesMenu" ng-class="{'menuActivo':menuActivo('admin.grupo')}" ng-click="Link('Admin/Grupo')">Grupos</li>
		<li class="col-xs-12 col-sm-4 col-md-4 col-lg-4 opcionesMenu" ng-class="{'menuActivo':menuActivo('admin.laboratorio')}" ng-click="Link('Admin/Laboratorio')">Laboratorio</li>
		<li class="col-xs-12 col-sm-4 col-md-4 col-lg-4 opcionesMenu" ng-class="{'menuActivo':menuActivo('admin.reservar')}" ng-click="Link('Admin/Reservar')">Reservar</li>
		<li class="col-xs-12 col-sm-4 col-md-4 col-lg-4 opcionesMenu" ng-class="{'menuActivo':menuActivo('admin.control')}" ng-click="Link('Admin/Control')">Control</li>
		<li class="col-xs-12 col-sm-4 col-md-4 col-lg-4 opcionesMenu" ng-class="{'menuActivo':menuActivo('admin.clase')}" ng-click="Link('Admin/Clase')">Clase</li>
	</ul>
</div>