<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 formulario">
	<form name="formAlumno" novalidate>
    	<legend ng-hide="editar">Registrar alumno</legend>
      <legend ng-show="editar">Editar alumno</legend>
    	<div>
    		<input type="text" name="name" placeholder="Nombre del alumno" ng-model="name" required>
    	</div>
      <div>
        <input type="text" name="matricula" placeholder="Matricula del alumno" ng-model="matricula" required>
      </div>
   	 	<div>
      		<input type="password" name="password" placeholder="Contrase&ntilde;a" ng-model="password" required>
    	</div>
      <div>
          <input type="password" name="confirmPassword" placeholder="Confirmar contrase&ntilde;a" ng-model="confirmPassword" required>
      </div>
      <div>
        <select name="grupo" ng-model="grupo" required>
          <option value="">Seleccione un grupo</option>
          <option value="1-A">1-A</option>
          <option value="3-A">3-A</option>
          <option value="5-A">5-A</option>
          <option value="1-B">1-B</option>
          <option value="3-B">3-B</option>
          <option value="5-B">5-B</option>
        </select>
      </div>
    	<div class="text-right">
      		<button ng-hide="editar" class="btn btn-success" ng-click="addAlumno(formAlumno)" ng-disabled="formAlumno.$invalid">Guardar</button>
          <button ng-show="editar" class="btn btn-success" ng-click="addAlumno(formAlumno)" ng-disabled="formAlumno.$invalid">Editar</button>
    	</div>
  </form>
</div>
<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 listados">
  <table class="table">
    <thead>
      <tr>
        <th>Matricula</th>
        <th>Nombre</th>
        <th>Contrase&ntilde;a</th>
        <th>Grupo</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="alu in alumnos" ng-click="select($index)" ng-class="{'rowSelec':rowSelec == $index}">
        <td>{{alu.matricula}}</td>
        <td>{{alu.nombre}}</td>
        <td>{{alu.password}}</td>
        <td>{{alu.grupo}}</td>
      </tr>
    </tbody>
  </table>
  <div ng-show="opciones">
    <button type="button" class="btn btn-danger" ng-click="deleteAlumno()">Eliminar</button>
    <button type="button" class="btn btn-success" ng-click="editAlumno()">Editar</button>
  </div>
</div>