<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="styles/bootstrap.css">
	<link rel="stylesheet" href="styles/main.css">
	<title>SACAL</title>
</head>
<body>
<!-- <ng-include src="'views/quote-info.html'"/> -->
<div class="container" ng-app="sacalApp" ng-controller="MainCtrl">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 headerApp">
      <h1>SACAL <span ng-if="isLogin('login')" class="pull-right">Universidad Tecnologica de Tijuana</span>
        <p ng-if="!(isLogin('login'))" class="pull-right">
          <button class="btn btn-success">Daniel Torres</button>
          <button class="btn btn-success" ng-click="singOut()">Cerrar Sesi&oacute;n</button>
        </p></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 menuApp" ui-view="menuApp" ng-if="!(isLogin('login'))"></div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 contenidoApp" ui-view=""></div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 footerApp">
      <p class="text-right">Derechos Resevados 2014 &#169; SACAL</p>
    </div>
  </div>
</div>
</body>
<script src="scripts/angular.js"></script>
<script src="scripts/angular-ui-router.js"></script>
<script src="scripts/ui-bootstrap.js"></script>
<script src="scripts/ui-bootstrap-tpls.js"></script>
<script src="scripts/moment.js"></script>
<script src="scripts/underscore.js"></script>
<script src="scripts/scripts.js"></script>
</html>
