<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="styles/bootstrap.css">
	<link rel="stylesheet" href="styles/main.css">
	<title>SACAL</title>
</head>
<body>
<!-- <ng-include src="'views/quote-info.html'"/> -->
<div class="container" ng-app="sacalApp" ng-controller="MainCtrl">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 headerApp" ng-if="isLogin('login')">
      <h1 class="col-xs-12 col-sm-11 col-md-10 col-lg-7 col-sm-offset-1 col-md-offset-2 col-lg-offset-3">SACAL</h1>
      <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-sm-offset-1 col-md-offset-2 col-lg-offset-3 alerts" ng-if="alerts.length > 0">
        <div ng-repeat="alert in alerts" class="{{alert.type}}">{{alert.msg}} <span class="pull-right glyphicon glyphicon-remove" ng-click="closeAlert($index)"></span></div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 headerApp" ng-if="!(isLogin('login'))">
      <h1 class="col-xs-6 col-sm-6 col-md-6 col-lg-6">SACAL</h1>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div class="btn-group pull-right">
          <a class="btn btn-success dropdown-toggle" data-toggle="dropdown" href="#">Daniel Torres <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li ng-click="changePassword()">
              <a href="">Cambiar contraseña</a>
            </li>
             <li ng-click="singOut()">
              <a href="">Cerrar Sesi&oacute;n</a>
            </li>
          </ul>
        </div>
      </div>
       <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 alerts" ng-if="alerts.length > 0">
        <div ng-repeat="alert in alerts" class="{{alert.type}}">{{alert.msg}} <span class="pull-right glyphicon glyphicon-remove" ng-click="closeAlert($index)"></span></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 menuApp" ui-view="menuApp" ng-if="!(isLogin('login'))"></div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 contenidoApp" ui-view="" ng-if="!(isLogin('login'))"></div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ui-view="" ng-if="isLogin('login')"></div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 footerApp">
      <p ng-if="!(isLogin('login'))" class="text-right">Derechos Resevados 2014 &#169; SACAL</p>
    </div>
  </div>
</div>
  <script src="scripts/angular.js"></script>
  <script src="scripts/angular-ui-router.js"></script>
  <script src="scripts/ui-bootstrap.js"></script>
  <script src="scripts/ui-bootstrap-tpls.js"></script>
  <script src="scripts/moment.js"></script>
  <script src="scripts/underscore.js"></script>
  <script src="scripts/scripts.js"></script>
</body>
</html>
