<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 login">
  <form action="" method="POST" role="form" ng-hide="lost">
    <legend>Iniciar Sesi&oacute;n</legend>
    <div>
      <input type="text" id="username" placeholder="Nombre de usuario" autocomplete="off">
    </div>
    <div>
      <input type="password" id="password" placeholder="Contrase&ntilde;a">
      <a href="" ng-click="lost = true; sendEmail = false">Olvid&eacute; mi contrase&ntilde;a</a>
    </div>
    <div class="text-right">
      <button type="submit" class="btn btn-success" ng-click="login()">Ingresar</button>
    </div>
  </form>
  <form action="" method="POST" role="form" ng-show="lost">
    <legend>Restablecer Contrase&ntilde;a</legend>
    <div>
      <input type="text" id="email" placeholder="Correo electr&oacute;nico" autocomplete="off">
    </div>
    <div ng-show="sendEmail">
      <p>La nueva contrase&ntilde;a ha sido envia a su correo electr&oacute;nico</p>
    </div>
    <div class="text-right">
      <button type="submit" class="btn btn-danger" ng-click="lost = false">Cancelar</button>
      <button type="submit" class="btn btn-success" ng-click="sendEmail = true">Enviar</button>
    </div>
  </form>
</div>