<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 controlRemotoDocente">
	<ul class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
		<li>
			<h3>Puerta</h3>
		</li>
		<!-- <li>
			<h3>Proyector</h3>
		</li>
		<li>
			<h3>Computadora</h3>
		</li> -->
		<li>
			<h3>Luces</h3>
		</li>
		<li>
			<h3>Aire acondicionado</h3>
		</li>
	</ul>
	<ul class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
		<li>
			<button ng-show="puerta" class="btn btn-success" ng-click="controlPuerta(false)">Abrir</button>
			<button ng-hide="puerta" class="btn btn-danger" ng-click="controlPuerta(true)">Cerrar</button>
		</li>
		<!-- <li>
			<button ng-show="proyector" class="btn btn-success" ng-click="controlProyect(false)">Encender</button>
			<button ng-hide="proyector" class="btn btn-danger" ng-click="controlProyect(true)">Apagar</button>
		</li>
		<li>
			<button ng-show="compu" class="btn btn-success" ng-click="controlCompu(false)">Encender</button>
			<button ng-hide="compu" class="btn btn-danger" ng-click="controlCompu(true)">Apagar</button>
		</li> -->
		<li>
			<button ng-show="luz" class="btn btn-success" ng-click="controlLuz(false)">Encender</button>
			<button ng-hide="luz" class="btn btn-danger" ng-click="controlLuz(true)">Apagar</button>
		</li>
		<li>
			<button ng-show="aire" class="btn btn-success" ng-click="controlAire(false)">Encender</button>
			<button ng-hide="aire" class="btn btn-danger" ng-click="controlAire(true)">Apagar</button>
		</li>
	</ul>
</div>