<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 menuDocente">
	<ul class="list-inline col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<li class="col-xs-6 col-sm-6 col-md-6 col-lg-6 opcionesMenu" ng-class="{'menuActivo':menuActivo('docente.reservar')}" ng-click="Link('Docente/Reservar')">Reservar Laboratorio</li>
		<li class="col-xs-6 col-sm-6 col-md-6 col-lg-6 opcionesMenu" ng-class="{'menuActivo':menuActivo('docente.control')}" ng-click="Link('Docente/Control')">Control Remoto del Laboratorio</li>
	</ul>
</div>