<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 reservarDoncente" style="min-height:200px;">
	<div class="btn-group pull-right">
		<div>
        	<select name="lab" ng-model="lab" ng-options="l.lab_id as l.lab_nombre for l in labs" required>
          		<option value="">Seleccione un laboratorio</option>
        	</select>
      	</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 contenedorLabs" ng-if="lab != undefined">
		<h4 class="pull-left">{{labNombre}}</h4>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 contenedorLabs">
			<table class="table table-bordered pull-left horasTable">
				<thead>
					<tr><th>Dias <br> Horas</th></tr>
					<tr ng-repeat="h in horas">
						<th>{{h.hor_inicio}}<br>{{h.hor_fin}}</th>
					</tr>
				</thead>
			</table>
			<table class="table pull-right diasTable">
				<thead>
					<tr>
						<th ng-repeat="d in dias">{{d.dia_nombre}}</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="row in ArrayReservacion">
						<td ng-repeat="col in row.Dias">{{$parent.$index}} - {{$index}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<!-- <tr ng-repeat="row in dataHoras">
						<td ng-repeat="col in row.Dias" ng-class="{'reservadoBlue':(col.esReservado && !col.esReservadoOwner), 'disponible':!col.esReservado, 'reservadoRed':col.esReservadoOwner}">
							{{$parent.$index}},{{$index}}
							<span ng-show="col.esReservado && !col.esReservadoOwner" ng-click="infoPopOver($parent.$index,$index)">Reservado</span>
							<span ng-show="col.esReservadoOwner" ng-click="cancelar($parent.$index,$index)">Cancelar</span>
							<span ng-show="!col.esReservado" ng-click="confirmar($parent.$index,$index)">Reservar</span>
						</td>
					</tr> -->