<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 reservarDoncente">
	<div class="btn-group pull-right">
		<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Ver: <strong>{{opcSelect}}</strong><span class="caret"></span></a>
		<ul class="dropdown-menu">
			<li ng-repeat="lab in labDisponibles">
				<a href="">{{lab.Nombre}}</a>
			</li>
		</ul>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 contenedorLabs">
		<h4 class="pull-left">Laboratorio I TICS</h4>
		
	</div>
</div>