.menuDocente{
	padding:0;
	ul{
		padding:5px;
		margin:0;
		.opcionesMenu{
			padding:20px;
			background-color:#028FBE ;
			cursor: pointer;
			text-align: center;
			font-size: 16px;
			border-radius:20px;
			border:1px solid;
		}
	}
}
.reservarDoncente{
	color:#888;
	.dropdown-toggle{
		color:#FFF;
		&:hover{color:#FFF;}
		span.caret{
			border-top: 8px solid;
			border-right: 5px solid transparent;
			border-left: 5px solid transparent;
		}
	}
	.dropdown-menu{
		li a{
			color:#888;
			&:hover{background-color:#339642;
				color:#FFF;}
		}
	}
}
.contenedorLabs{
	margin:20px auto 0 auto;
	padding:0;
	.horasTable{
		width:10%;
		thead tr th{
			text-align:center; 
			font-size:12px; 
			font-weight:normal;
			height: 50px;
			vertical-align: middle;
			border: 1px solid #ddd !important;
		}
	}
	.diasTable{
		width:90%;
		thead tr th{
			text-align:center;
			height: 50px;
			vertical-align: middle;
			border: 1px solid #ddd !important;
		}
		.reservadoRed{background:#d9534f; }
		.reservadoBlue{background:#5bc0de; }
		.disponible{background:#5cb85c;}
		tbody tr td{
			height: 50px;
			text-align:center;
			vertical-align: middle;
			border: 1px solid #ddd !important;
			width:18%;
			span{color:#FFF;
				&:hover{
					font-size:16px; 
					text-decoration:underline;
					cursor:pointer;
					font-weight: bold;
				}
			}
		}
	}
}
.modal-info, .modal-confirmar, .modal-cancelar{
	color:#888;
	.headModal{text-align:center; font-size:20px;
		padding:10px 0;border-bottom:1px solid #CCC; margin:0 50px;}
	.bodyModal{font-size: 18px; padding:20px 0; margin:0 50px;}
	.footerModal{text-align: right;padding:10px 0;
		border-top:1px solid #CCC; margin:0 50px;}
}
.modal-info{
	.bodyModal{
		ul{list-style: none;padding:0;margin:0;}
	}
}

.controlRemotoDocente{
	color:#888;
	ul{
		list-style: none;
		margin:0;
		padding:0;
		text-align: center;
		li{
			padding: 20px 0;
			h3{padding:20px 0 10px 80px; text-align: left;}
			button{
				width: 30%;
				height: 60px;
				font-weight: bold;
			}
		}
	}
}
.reportesDocente{
	color:#888;
}