.menuDocente{
	ul{
		padding:0;
		margin:0;
		.opcionesMenu{
			padding:20px;
			background-color: #888;
			cursor: pointer;
			text-align: center;
			border:2px solid;
			font-size: 16px;
		}
	}
}
.reservarDoncente{
	color:#888;
	.dropdown-toggle{
		color:#FFF;
		&:hover{color:#FFF;}
		span.caret{
			border-top: 8px solid;
			border-right: 5px solid transparent;
			border-left: 5px solid transparent;
		}
	}
	.dropdown-menu{
		li a{
			color:#888;
			&:hover{background-color:#339642;
				color:#FFF;}
		}
	}
}
.contenedorLabs{
	margin:20px auto 0 auto;
	padding:0;
	.horasTable{
		width:10%;
		thead tr th{
			text-align:center; 
			font-size:12px; 
			font-weight:normal;
			height: 50px;
			vertical-align: middle;
			border: 1px solid #ddd !important;
		}
	}
	.diasTable{
		width:90%;
		thead tr th{
			text-align:center;
			height: 50px;
			vertical-align: middle;
			border: 1px solid #ddd !important;
		}
		tbody tr td{
			height: 50px;
			text-align:center;
			vertical-align: middle;
			border: 1px solid #ddd !important;
			&:hover{background-color:#EEE;}
			width:18%;
		}
	}
}