.login{
	background-color:#FFF;
	padding:40px 70px;
	color:#888;
	margin-top: 60px;
	form{
		div{
			margin:15px 0;
			a{margin-top:10px;display:block;}
		}
	}
}
.loginFoo{
	background-color:#028FBE;
	padding:15px 0;
}