<div class="headModal">
	Cambiar contrase&ntilde;a
</div>
<div class="bodyModal">
	<form action="" method="POST" role="form">
	    <div>
	      <input type="password" id="oldpassword" placeholder="Contrase&ntilde;a actual" autocomplete="off">
	    </div>
	   	<br>
	    <div>
	      <input type="password" id="newpassword" placeholder="Nueva contrase&ntilde;a">
	    </div>
	    <br>
	    <div>
	      <input type="password" id="confirnewpassword" placeholder="Confirmar contrase&ntilde;a">
	    </div>
  </form>
</div>
<div class="footerModal">
	<button class="btn btn-danger" ng-click="close()">Cancelar</button>
	<button class="btn btn-success" ng-click="newPassword()">Enviar</button>
</div>